
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- [Helper Functions] ---
    function isSignedIn() {
      return request.auth != null;
    }
    // For simplicity during testing, anyone can do anything if they are signed in.
    // In a production app, you would have more granular rules.
    // e.g. function isOwner(userId) { return request.auth.uid == userId; }

    // --- [Rules] ---

    match /{path=**} {
      allow read, write: if isSignedIn();
    }
  }
}
